{
  "semi": true,
  "singleQuote": true,
  "parser": "typescript",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": false
}